{{> navbar}}

<div class="container">
	<header>
	</header>
	<main>
		<div class="row">
			<div class="left">
				<div class="photo-left">
					<figure class="profile--wrap">
						<a href='/avatar/upload'>
							<img
								class='profile__avatar--img'
								src='/Avatars/{{image.file_src}}'
								alt='User'
							/>
							</a>
							{{!-- <span class="profile__name">Change PFP</span> --}}
					</figure>
						
				</div>
				<h4 class="name">{{profile.firstname}} {{profile.lastname}}</h4>
				<p class="info">{{profile.email}}
					<br>
					@{{profile.username}}
				</p>

				<div class="stats row">
					<div class="stat col-xs-4" style="padding-right: 50px;">
						<p class="number-stat">3,619</p>
						<p class="desc-stat">Followers</p>
					</div>
					<div class="stat col-xs-4">
						<p class="number-stat">{{followingCounts.followingCount}}</p>
						<p class="desc-stat">Following</p>
					</div>
					<div class="stat col-xs-4" style="padding-left: 50px;">
						<p class="number-stat">{{counts.postCount}}</p>
						<p class="desc-stat">Uploads</p>
					</div>
				</div>
				<p class="desc">
			<li>Bio: {{userInfo.bio}}</li>
			<li>Location: {{userInfo.location}}</li>
			<li>Birthday: {{userInfo.date_birth}}</li>
			{{#each followers}}
			<li>{{this.username}}</li>
			{{/each}}
				</p>
				<br>
			</div>
			<div class="right ">
				<ul class="nav">
					<li>Posts</li>
					<li>Collections</li>
					<li>Groups</li>
					<li>About</li>
				</ul>
				<div class="row posts">
			<section id='posts'>
	
				<div class="add--container">
					<div id="box">
						<div class="top">
							<h3 class="text-center text-muted">Add new Post</h3>
						</div>
						<div class="bottom add--container">
							<form action="/posts/add-post" method="POST">
							<textarea class="post--textarea" placeholder="Write something here!" name="postMessage" id="postMessage" maxlength="100" required></textarea>
							<div class="bottom-right">
								<span id="countdown">100</span>
								<button class="btn btn-primary add--post">Add</button>
							</div>
							</form>
						</div>
					</div>
				</div>

				<script>
					$(document).ready(function(){
  //Character limit js
  var maxLength= 100;
  $("textarea").keypress(function(){
     var length = $(this).val().length;
     var length = maxLength-length;
     $("#countdown").text(length);
  })
					}
					)
				</script>
				
				
			{{#each posts}}
				<div class="tweet-wrap">
					<div class="tweet-header">
						<img src="/Avatars/{{../image.file_src}}" alt="" class="avator">
						<div class="tweet-header-info">
							<span>
								@{{this.username}}
							</span>
							<span>
								. {{this.created_at}}
							</span>
							<p>{{this.content}}</p>
						</div>
					</div>
					<hr>
				<div class="tweet-info-counts">
					<div class="comments">
						<p>comment</p>
					</div>
						
					{{ this.like_count }}
					<div class="likes">
							<button onclick="actOnPost(event);"
                data-post-id="{{ this.id }}">Like
               </button>
						<div class="likes-count">
							<span id="likes-count-{{ this.id }}">{{ this.like_count }}</span>
						</div>
						<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var updatePostStats = {
            Like: function (postId) {
                document.querySelector('#likes-count-' + postId);
            },
            Unlike: function(postId) {
                document.querySelector('#likes-count-' + postId);
            }
        };
    
        var toggleButtonText = {
            Like: function(button) {
                button.textContent = "Unlike";
            },
            Unlike: function(button) {
                button.textContent = "Like";
            }
        };
    
        var actOnPost = function (event) {
            var postId = event.target.dataset.postId;
            var action = event.target.textContent.trim();
						
            toggleButtonText[action](event.target);
            updatePostStats[action](postId);
            axios.post('/posts/' + postId + '/act', { action: action });
        };
    </script>
					</div>
					<div class="post--delete-button">
							<a href="/admin/posts/delete/{{this.id}}" type="button" class="post--delete-btn">Delete</a>
							</div>
				</div>
				<hr>
				<div class="comment--row">
					<figure>
						<img src="/Avatars/{{../image.file_src}}" alt="" class="comment--avatar">
					</figure>
					<form action="/posts/comment/{{this.id}}" method="POST" name="commentText">
						<input type="text" class="comment--input" name="commentText" id="commentText" placeholder="Comment">
					</form>
				</div>
				{{this.body}}
				<div class="comment--text">
				</div>
				
			</div>
		{{/each}}

			</section>
				</div>
			</div>
	</main>
</div>

