{{> navbar}}
<section id="main">
	<div class="row">
	<div class="container--wrapper">
			<div class="sidenav" id="section--profile">
				<div class="container">
					<div class="profile--wrap">
						<a href='/avatar/upload'>
							<img
								class='avatar'
								src='/Avatars/{{profile.file_src}}'
								alt='User'
							/>
						</a>
						<div class="profile--wrap__name">
							<h4>{{profile.firstname}} {{profile.lastname}}</h4> 
							<h4>{{profile.username}}</h4>
						</div>
						<div class='dropdown' id="profile--dropdown">
							<button type='button' class='' data-toggle='dropdown'>Setting</button>
							<div class='dropdown-menu dropdown-menu-right'>
								<a class='dropdown-item' href='/account/edit/{{profile.id}}'>Edit Profile</a>
								<a class='dropdown-item' href='/account/info'>Edit info</a>
							</div>
						</div>
					</div>
					<div class="profile--stats">
						<div class="profile--stats__stat" >
							<p class="number-stat">{{followersCounts.followersCount}}</p>
							<a href="/followers"><p class="desc-stat">Followers</p></a>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{followingCounts.followingCount}}</p>
							<a href="/followers"><p class="desc-stat">Following</p></a>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{postCounts.postCount}}</p>
							<p class="desc-stat">Uploads</p>
						</div>
					</div>
					<hr>
					<div class="user--info">
						<p>bio: {{profile.bio}}</p>
						<p>Location: {{profile.location}}</p>
					</div>
			</div>
			</div>
			<div class="" id="section--posts">
				<div class="container">
				<form action="/posts/add-post" method="POST">
						<textarea class="post--textarea" placeholder="Write something here!" name="postMessage" id="postMessage" maxlength="100" required></textarea>
						<div class="bottom-right">
							<script src="/javascript/textarea-length.js"></script>
							<span id="countdown">100</span>
							<button class="btn btn-primary add--post">Add</button>
						</div>
						</form>
				<hr />
				{{#each posts}}
					<div class="post--wrap">
						<div class="post--header">
						<figure>
							<img class="comment-avatar" src="/Avatars/{{../profile.file_src}}" alt="" >
						</figure>
						<div class="post--header__sub">
							<h5>
								<span class="glyphicon glyphicon-time"></span> {{this.username}}, <br>
								{{this.created_at}}.
							</h5>
						</div>
						</div>
						<p class="comment--text">
							{{this.content}}
						</p>
						<div class="">
								<a href="/posts/delete/{{this.post_id}}" type="button" class="">Delete</a>
						</div>
						<form action="/posts/comment/{{this.post_id}}" method="POST" name="comment--text">
							<input type="text" class="comment--input" name="commentText" id="commentText" placeholder="Comment">
						</form>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
</div>

</section>

