<script src="/javascript/axios.js"></script>




{{> layouts/navbar}}

<section id="main">
	<div class="row">
		
</div>
	<div class="container--wrapper">
			<div class="sidenav" id="section--profile">
				<div class="container">
					<div class='dropdown' id="profile--dropdown">
							<button type='button' class='' data-toggle='dropdown'>Nastavení</button>
							<div class='dropdown-menu dropdown-menu-right'>
								<a class='dropdown-item' href='/account/edit/{{profile.id}}'>Upravit profil</a>
								<a class='dropdown-item' href='/account/info'>Upravit info</a>
							</div>
						</div>
					<div class="profile--wrap">
						
						<a href='/avatar/upload'>
							<img
								class='avatar'
								src='/Avatars/{{profile.file_src}}'
								alt='User avatar'
							/>
						</a>
						<div class="profile--wrap__name">
							<h4>{{profile.firstname}} {{profile.lastname}}</h4> 
							<h4>@{{profile.username}}</h4>
						</div>
						
					</div>
					<div class="profile--stats">
						<div class="profile--stats__stat" >
							<p class="number-stat">{{followersCounts.followersCount}}</p>
							<a href="/followers/followers"><p class="desc-stat">Sledující</p></a>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{followingCounts.followingCount}}</p>
							<a href="/followers/following"><p class="desc-stat">Sleduji</p></a>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{postCounts.postCount}}</p>
							<p class="desc-stat">Příspěvky</p>
						</div>
					</div>
					<hr>
					<div class="user--info">
						<p>bio: {{profile.bio}}</p>
						<p>Kraj: {{profile.name}}</p>
					</div>
			</div>
			</div>
			<div class="" id="section--posts">
				<div class="container">
				{{>post-add}}
				<hr />
				{{>posts}}
				<div class="comment--text">
			{{#each comments}}
				{{this.post_id}}
			{{/each}}
		</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</section>


