<!-- Vstupní pole pro jméno -->
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='text'
			class='form-control'
			id='floatingInput'
			value='{{this.first_name}}'
			placeholder='First Name'
			name='fName'
		/>
		<label for='floatingInput'>Jméno</label>
	</div>
</div>
<!-- Vstupní pole pro příjmení -->
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='text'
			class='form-control'
			id='floatingInput'
			value='{{this.last_name}}'
			placeholder='Last Name'
			name='lName'
		/>
		<label for='floatingInput'>Příjmení</label>
	</div>
</div>
<!-- Vstupní pole pro přezdívku -->
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='text'
			class='form-control'
			id='floatingInput'
			value='{{this.username}}'
			placeholder='username'
			name='username'
		/>
		<label for='floatingInput'>Přezdívka</label>
	</div>
</div>
<!-- Vstupní pole pro email -->
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='email'
			class='form-control'
			id='floatingInput'
			value='{{this.email}}'
			placeholder='email@email.com'
			name='email'
		/>
		<label for='floatingInput'>Email</label>
	</div>
</div>
<!-- Vstupní pole pro heslo -->
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='password'
			class='form-control'
			id='floatingInput'
			value='{{this.password}}'
			placeholder='password'
			name='password'
		/>
		<label for='floatingInput'>Nové heslo</label>
	</div>
</div>
<!-- Button na odeslání -->
<div class='col-12 d-grid'>
	<button class='btn btn-primary' type='submit'>Odeslat</button>
</div>