<div class='container'>
	<br /><br /><br /><br />

	<div class='row justify-content-center'>
		<div class='col-md-10'>

			<!-- Register formulář -->
				<div class='form-row'>
					<!-- Input na jméno -->
					<div class='col form-group'>
						<input
							type='text'
							class='form-control'
							placeholder='Jméno'
							name='jmeno'
							id='fName'
							value='{{data.firstname}}'
						/>
					</div>
					<!-- Input na příjmení -->
					<div class='col form-group'>

						<input
							type='text'
							class='form-control'
							placeholder='Přijmení '
							name='prijmeni'
							id='lName'
							value='{{data.lastname}}'
						/>
					</div>
				</div>
				<!-- Input pro přezdívku -->
				<div class='form-row'>
					<div class='col form-group'>

						<input
							type='text'
							class='form-control'
							placeholder='Přezdívka'
							name='prezdivka'
							id='username'
							value='{{data.username}}'
						/>
					</div>
				</div>
				<!-- Input pro email -->
				<div class='form-group'>
					<input
						type='email'
						class='form-control'
						placeholder='Email'
						name='email'
						id='email'
						value='{{data.email}}'
					/>
				</div>
				<!-- input pro heslo -->
				<div class='form-group'>
					<input
						class='form-control'
						type='password'
						value='{{data.hashedPassword}}'
						name='heslo'
					/>
				</div>

				<div class='form-group'>
					<button type='submit' class='btn btn-block'>
						Odeslat
					</button>
				</div>
				{{message}}
			</form>

		</div>

	</div>

</div>

<br /><br />