{{#each posts}}
					<div class="post--wrap">
						<div class="post--header">
						<figure>
							<img class="comment-avatar" src="/Avatars/{{../userdata.file_src}}" alt="" >
						</figure>
						<div class="post--header__sub">
							<h5>
								<span class="glyphicon glyphicon-time"></span> {{this.username}}, <br>
								{{this.created_at}}.
							</h5>
						</div>
						</div>
						<p class="post--text">
							{{this.content}}
						</p>
					
						<form action="/user/{{../user_id}}/posts/{{this.post_id}}/comment" method="POST" name="comment--text">
							<input type="text" class="comment--input" name="commentText" id="commentText" placeholder="Comment">
						</form>
						<button onclick="likePost({{this.post_id}})">Like</button>
						{{this.likes}}
						
						</script>	
					</div>
				{{/each}}