{{> layouts/navbar-admin}}
	<div class='container'>
		<div class='row'>
			<div class='col-6'>
				<h1>Uživatelé</h1>
			</div>

		</div>
		<div class='row'>
			<div class='col-md-12'>
				<div class='table-wrap'>
					<table class='table table-dark table-hover'>
						<thead>
							<tr>
								<th scope='col'>#</th>
								<th scope='col'>Uživatel</th>
								<th scope='col'>Text</th>
								<th scope="col">Komentáře</th>
								<th scope='col'>Datum</th>
								<th scope='col'>Akce</th>
							</tr>
						</thead>
						<tbody>
							<!-- Tabulka do které se vkládají uživatelé z databáze -->
							{{#each posts}}
								<tr>
									<th scope='row'>{{this.post_id}}</th>
									<td>{{this.username}}</td>
									<td>{{this.content}}</td>
									<td>{{this.comments}}</td>
									<td>{{this.created_at}}</td>
									<td class='text-end'>
										<a
											href='/admin/posts/delete/{{this.post_id}}'
											type='button'
											class='btn'
										><i class='bi bi-person-x'></i> Smazat</a>
										<a
											href='/admin/posts/comment/{{this.post_id}}'
											type='button'
											class='btn'
										><i class='bi bi-person-x'></i> Komentáře</a>
									</td>
								</tr>
							{{/each}}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>