<section class='ftco-section pt-5'>
	<div class='container'>
		<div class='row'>
			<div class='col-6'>
				<h1>Uživatelé</h1>
			</div>
			<div class='col-6 d-flex justify-content-end'>
				<a href='/admin/adduser' type='button' class='btn align-self-center'>+
					Přidat uživatele</a>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<div class='table-wrap'>
					<table class='table table-dark table-hover'>
						<thead>
							<tr>
								<th scope='col'>#</th>
								<th scope='col'>Jméno a příjmení</th>
								<th scope='col'>Email</th>
								<th scope='col'>Akce</th>
							</tr>
						</thead>
						<tbody>

							{{#each users}}
								<tr>
									<th scope='row'>{{this.user_id}}</th>
									<td>{{this.jmeno}} {{this.prijmeni}}</td>
									<td>{{this.email}}</td>
									<td class='text-end'>
										<a
											href='/admin/viewuser/{{this.user_id}}'
											type='button'
											class='btn'
										><i class='bi bi-eye'></i> Zobrazit</a>
										<a
											href='/admin/edituser/{{this.user_id}}'
											type='button'
											class='btn'
										><i class='bi bi-pencil'></i>
											Upravit</a>
										<a
											href='/admin/delete/{{this.user_id}}'
											type='button'
											class='btn'
										><i class='bi bi-person-x'></i> Smazat</a>
									</td>
								</tr>
							{{/each}}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>