<section class='ftco-section pt-5'>
	<nav>
		<div class='wrap'>

		</div>

		<ul class='nav__link--list'>
			<li>
				<a
					href='/admin/users/'
					class='nav__link--anchor link__hover-effect link__hover-effect--black'
				>Users</a>
			</li>
			<li>
				<a
					href='/admin/posts/'
					class='nav__link--anchor link__hover-effect link__hover-effect--black'
				>Posts</a>
			</li>

			<li>
				<a
					href='/logout'
					class='nav__link--anchor-primary link__hover-effect link__hover-effect--black'
				>LOGOUT</a>
			</li>
		</ul>
	</nav>
	<div class='container'>
		<div class='row'>
			<div class='col-6'>
				<h1>Uživatelé</h1>
			</div>
			<div class='col-6 d-flex justify-content-end'>
				<a
					href='/admin/users/adduser'
					type='button'
					class='btn align-self-center'
				>+ Přidat uživatele</a>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<div class='table-wrap'>
					<table class='table table-dark table-hover'>
						<thead>
							<tr>
								<th scope='col'>#</th>
								<th scope='col'>Jméno a příjmení</th>
								<th scope='col'>Email</th>
								<th scope='col'>Akce</th>
							</tr>
						</thead>
						<tbody>
							<!-- Tabulka do které se vkládají uživatelé z databáze -->
							{{#each users}}
								<tr>
									<th scope='row'>{{this.id}}</th>
									<td>{{this.firstname}} {{this.lastname}}</td>
									<td>{{this.email}}</td>
									<td class='text-end'>
										<a
											href='/admin/users/view/{{this.id}}'
											type='button'
											class='btn'
										><i class='bi bi-eye'></i> Zobrazit</a>
										<a
											href='/admin/users/edit/{{this.id}}'
											type='button'
											class='btn'
										><i class='bi bi-pencil'></i>
											Upravit</a>
										<a
											href='/admin/users/delete/{{this.id}}'
											type='button'
											class='btn'
										><i class='bi bi-person-x'></i> Smazat</a>
									</td>
								</tr>
							{{/each}}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>