{{> layouts/navbar-admin}}

<style>
	#avatar {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		margin-top: 10px;
	}

	.avatar {
		display: flex;
		justify-content: center;
	}
</style>


<div class='container'>
			<div class='col mb-5'>

				<div class='card h-80'>
					<figure class="avatar">
						<img src='/Avatars/{{user.file_src}}' alt='avatar' class='card-img-top' id="avatar" />
					</figure>
					<div class='card-body'>
						<h5 class='card-title'>{{user.firstname}} {{user.lastname}}</h5>
						<p class='card-text'>{{user.bio}}</p>

					</div>

					<ul class='list-group list-group-flush'>
						<li class='list-group-item'>{{user.username}}</li>
						<li class='list-group-item'>{{user.email}}</li>
						<li class='list-group-item'>{{user.date_birth}}</li>
						<li class='list-group-item'>{{user.name}}</li>
           
					</ul>
				</div>
			</div>

	</div>
</div>