{{> layouts/navbar-admin}}

<div class="container">
	<h4>{{user.firstname}}</h4> <br>
	<h4>{{user.lastname}}</h4><br>
	<h4>{{user.username}}</h4><br>
	<h4>{{user.email}}</h4><br>
	<h4>{{user.date_birth}}</h4><br>
	<h4>{{user.bio}}</h4><br>
	<h4>{{user.name}}</h4><br>
	<img src="/Avatars/{{user.file_src}}" alt="avatar" class="avatar">
</div>