<script src="/javascript/axios.js">
</script>


{{>layouts/navbar}}
<!-- header ends -->
<div class="container-fluid-xl" id="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="users--list">
			<div class='row row-cols-4 row-cols-md-1'>
				<h2>Uživatelé které sleduješ</h2>
			{{#each users}}

				<div class="row">
					<div class="col-sm-11">
						<div class="card">
							<div class="card-body bg-grey">
								<div class="row d-flex align-items-center justify-content-start">
									<img src="/Avatars/{{this.file_src}}" alt="avatar" class="card--avatar list--item"> <br>
									<h5 class="card-title ml-2" >{{this.username}}</h5>
									<a href="/user/{{this.id}}" class="btn ml-1">Zobrazit uživatele</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
			</div>
			</div>

		</div>
		<div class="col-sm-8">
		<div class="posts--wrap">

			<hr />
			{{#each posts}}
				<div class="post--wrap">
					<div class="post--header">
					<figure>
						<img class="comment-avatar" src="/Avatars/{{this.file_src}}" alt="" >
					</figure>
					<div class="post--header__sub">
						<h5>
							<span class="glyphicon glyphicon-time"></span> {{this.username}}, <br>
							{{this.created_at}}.
						</h5>
					</div>
					</div>
					<p class="comment--text">
						{{this.content}}
					</p>
		
					<hr>
					<div class='post--links'>
							<button  class="btn" onclick='likePost({{this.post_id}})'><i
									class='fa-solid fa-thumbs-up'
								></i>To se mi líbí ({{this.likes}})</button>
								<form action="/posts/viewcomments/{{this.post_id}}" method="POST">
									<button type="submit" class="btn ml-2">
										<i class='fa-solid fa-comments'></i>Komentáře ({{this.comments}})
									</button>
							</form>
						</div>
					<hr>
					<form
							action='/posts/comment/{{this.post_id}}'
							method='POST'
							name='comment--text'
						>
							<textarea
								class='comment--input'
								name='commentText'
								id=''
								placeholder='Okomentujte'
								maxlength="150"
								rows="3"
								required
							></textarea>
							<div class="bottom-right">	
							<button class='btn add--post'>Přidat komentář</button>
							</div>
						</form>
					
					<hr>
					<div class="comments">
					<div id="display"></div>
					</div>
					
				</div>
			{{/each}}
		</div>
		</div>
</div>
</div>
