<section class='navigation'>
	<nav>
		<div class='wrap'>
			<div class='search'>
				<form method='POST' action='/search'>
					<label>Search Data</label>
					<input
						class='typeahead tt-query'
						spellcheck='false'
						autocomplete='off'
						name='typeahead'
						type='text'
					/>
				</form>
			</div>
		</div>

		<ul class='nav__link--list'>
			<li>
				<a
					href=''
					class='nav__link--anchor link__hover-effect link__hover-effect--black'
				>Home</a>
			</li>
			<li>
				<a
					href='/account'
					class='nav__link--anchor link__hover-effect link__hover-effect--black'
				>Account</a>
			</li>
			<li
				class='dropdown nav__link--anchor link__hover-effect link__hover-effect--black'
			>
				<button class='dropbtn'>Settings</button>
				<div class='dropdown--content'>
					<a href='/settings/info'>Info</a>
					<a href='/avatar/upload'>Avatar</a>
					<a href='/settings/profile'>Profile</a>
				</div>
			</li>

			<li>
				<a
					href='/logout'
					class='nav__link--anchor-primary link__hover-effect link__hover-effect--black'
				>LOGOUT</a>
			</li>
		</ul>
	</nav>
</section>

<div class='wrapper--content content'>
	<section class='profile'>
		{{#each image}}
			<img
				class='profile--avatar'
				src='/Avatars/{{this.file_src}}'
				alt='User'
			/>
		{{/each}}
		{{#each user}}

			<h3>{{this.firstname}} {{this.lastname}}</h3>
			<span>@{{this.username}}</span>
			{{!-- <ul class='info'>
				{{#each userInfo}}
					<li>Bio: {{this.bio}}</li>
					<li>Location: {{this.location}}</li>
					<li>{{this.date_birth}}</li>
				{{/each}}
			</ul> --}}
		{{/each}}
	</section>

	<section class='posts'>
		<form action='/posts/add-post' class='post--add' method='post'>
			<span class='input-icon'>
				<textarea
					rows='3'
					maxlength='100'
					class='form-control'
					placeholder='Write something...'
					name='postMessage'
					id='postMessage'
				></textarea>
			</span>
			<div class=''>
				<button
					type='submit'
					class='btn btn-sm btn-dark waves-effect waves-light'
					value='Submit'
					id='btnsubmit'
				>Přidat</button>

			</div>
		</form>
		{{#each posts}}
			<div class='p-2 mb-3'>
				<div class='d-flex align-items-start'>
					<img
						class='me-2 avatar-sm rounded-circle post--avatar'
						src='https://bootdey.com/img/Content/avatar/avatar6.png'
						alt='Generic placeholder image'
					/>
					<div class='w-100'>
						<h5 class='m-0'>{{this.username}}</h5>
						<p class='text-muted'><small>{{this.created_at}}</small></p>
					</div>
				</div>
				<p>{{this.content}}</p>
				<a href='/admin/posts/delete/{{this.id}}' type='button' class='btn'><i
						class=''
					></i>
					Smazat</a>

			</div>
			<hr />
		{{/each}}
	</section>
</div>