<script src="/javascript/axios.js"></script>




{{> layouts/navbar}}


<div class="container-fluid-xl" id="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="sidenav" id="section--profile">
				<div class="container">
					<div class="profile--wrap">
					<img
						class='avatar'
						src='/Avatars/{{userdata.file_src}}'
						alt='User avatar'
					/>
						<div class="profile--wrap__name">
							<h4>{{userdata.firstname}} {{userdata.lastname}}</h4> 
							<h4>@{{userdata.username}}</h4>
						</div>
						
					</div>
					<div class="profile--stats">
						<div class="profile--stats__stat" >
							<p class="number-stat">{{followersCounts.followersCount}}</p>
							<p class="desc-stat">Sledující</p>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{followingCounts.followingCount}}</p>
							<p class="desc-stat">Sleduji</p>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{postCounts.postCount}}</p>
							<p class="desc-stat">Příspěvky</p>
						</div>
					</div>
					<hr>
					<div class="user--info">
						<p>bio: {{profile.bio}}</p>
						<p>Kraj: {{profile.name}}</p>
						<p>Datum narození: {{profile.date_birth}}</p>

					</div>
					<button onclick="followUser({{userdata.id}})" id="follow" class="btn">follow</button>

				</div>
			</div>
			</div>
				<div class="col-sm-8">
			<div class="" id="section--posts">
				<div class="container">

					{{#each posts}}
					<div class='post--wrap'>
						<div class='post--header'>
							<figure>
								<img class='comment-avatar' src='/Avatars/{{this.file_src}}' alt='' />
							</figure>
							<div class='post--header__sub'>
								<h5>
									<span class='glyphicon glyphicon-time'></span>
									{{this.username}},
									<br />
									{{this.created_at}}.
								</h5>
							</div>
						</div>
						<p class='comment--text'>
							{{this.content}}
						</p>
					
						<hr />
						<div class='post--links'>
							<button  class="btn" onclick='likePost({{this.post_id}})'><i
									class='fa-solid fa-thumbs-up'
								></i>To se mi líbí ({{this.likes}})</button>
								<form action="/posts/viewcomments/{{this.post_id}}" method="POST">
									<button type="submit" class="btn ml-2">
										<i class='fa-solid fa-comments'></i>Komentáře ({{this.comments}})
									</button>
							</form>
						</div>

						<p id="demo"></p>


						
						<hr />
						<form
							action='/posts/comment/{{this.post_id}}'
							method='POST'
							name='comment--text'
						>
							<textarea
								class='comment--input'
								name='commentText'
								id=''
								placeholder='Okomentujte'
								maxlength="150"
								rows="3"
								required
							></textarea>
							<div class="bottom-right">	
							<button class='btn add--post'>Přidat komentář</button>
							</div>
						</form>

						<hr />

					</div>
					{{/each}}
					</div>

			</div>
		</div>
	</div>
</div>
</div>
</div>




