{{> navbar}}
<section id="main">
	<div class="row">
	<div class="container--wrapper">
			<div class="sidenav" id="section--profile">
				<div class="container">
					<div class="profile--wrap">
						<a href='/avatar/upload'>
							<img
								class='avatar'
								src='/Avatars/{{userdata.file_src}}'
								alt='User avatar'
							/>
						</a>
						<div class="profile--wrap__name">
							<h4>{{userdata.firstname}} {{userdata.lastname}}</h4> 
							<h4>@{{userdata.username}}</h4>
						</div>
						<div class='dropdown' id="profile--dropdown">
							<button type='button' class='' data-toggle='dropdown'>Setting</button>
							<div class='dropdown-menu dropdown-menu-right'>
								<a class='dropdown-item' href='/account/edit/{{profile.id}}'>Edit Profile</a>
								<a class='dropdown-item' href='/account/info'>Edit info</a>
							</div>
						</div>
					</div>
					<div class="profile--stats">
						<div class="profile--stats__stat" >
							<p class="number-stat">{{followersCounts.followersCount}}</p>
							<a href="/followers"><p class="desc-stat">Followers</p></a>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{followingCounts.followingCount}}</p>
							<a href="/followers"><p class="desc-stat">Following</p></a>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{postCounts.postCount}}</p>
							<p class="desc-stat">Uploads</p>
						</div>
					</div>
					<hr>
					<div class="user--info">
						<p>bio: {{profile.bio}}</p>
						<p>Location: {{profile.name}}</p>
					</div>
			</div>
			<button class="follow" onclick="followUser(event)" data-user-id="{{userdata.id}}">Follow</button>
				<script>
					const followUser = function (event) {
            const userId = event.target.dataset.userId;
            axios.post('/user/' + userId );
        };
				</script>
			</div>
			<div class="" id="section--posts">
				<div class="container">
				
				{{#each posts}}
					<div class="post--wrap">
						<div class="post--header">
						<figure>
							<img class="comment-avatar" src="/Avatars/{{../userdata.file_src}}" alt="" >
						</figure>
						<div class="post--header__sub">
							<h5>
								<span class="glyphicon glyphicon-time"></span> {{this.username}}, <br>
								{{this.created_at}}.
							</h5>
						</div>
						</div>
						<p class="comment--text">
							{{this.content}}
						</p>
					
						<form action="/user/{{../user_id}}/posts/{{this.post_id}}/comment" method="POST" name="comment--text">
							<input type="text" class="comment--input" name="commentText" id="commentText" placeholder="Comment">
						</form>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
</div>

</section>

