<script src="/javascript/axios.js"></script>

{{> layouts/navbar}}
<section id="main">
	<div class="row">
		<div class="container">

			<div class="container--wrapper">
			<div class="sidenav" id="section--profile">
				<div class="container">
					<div class="profile--wrap">
							<img
								class='avatar'
								src='/Avatars/{{userdata.file_src}}'
								alt='User avatar'
							/>
						<div class="profile--wrap__name">
							<h4>{{userdata.firstname}} {{userdata.lastname}}</h4> 
							<h4>@{{userdata.username}}</h4>
						</div>
						<div class='dropdown' id="profile--dropdown">
							<div class='dropdown-menu dropdown-menu-right'>
								<a class='dropdown-item' href='/account/edit/{{profile.id}}'>Edit Profile</a>
								<a class='dropdown-item' href='/account/info'>Edit info</a>
							</div>
						</div>
					</div>
					<div class="profile--stats">
						<div class="profile--stats__stat" >
							<p class="number-stat">{{followersCounts.followersCount}}</p>
							<a href="/followers"><p class="desc-stat">Followers</p></a>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{followingCounts.followingCount}}</p>
							<a href="/followers"><p class="desc-stat">Following</p></a>
						</div>
						<div class="profile--stats__stat">
							<p class="number-stat">{{postCounts.postCount}}</p>
							<p class="desc-stat">Uploads</p>
						</div>
					</div>
					<hr>
					<div class="user--info">
						<p>bio: {{profile.bio}}</p>
						<p>Location: {{profile.name}}</p>
					</div>
			</div>
			<button class="follow" onclick="followUser({{userdata.id}})">FOLLOW</button>

			</div>
			<div id="section--posts">
				<div class="container">
				
				{{>user-posts}}
			</div>
		</div>
	</div>
</div>
</div>
</div>
</section>

